.TH tfctl 1 "{{.Date}}" "tfctl {{.Version}}" "tfctl"
.SH NAME
tfctl \- {{.Short}}
.SH USAGE
{{.Usage}}
.SH COMMANDS
{{range .Commands}}
.TP
\fB{{.Names}}{{if .Alias}} | {{.Alias}}{{end}}\fR
{{.Description}}
{{end}}
.SH GLOBAL OPTIONS
{{range .GlobalFlags}}
.TP
\fB{{.Syntax}}\fR
{{.Description}}
{{if .More}}
.fi
{{.More}}
.nf
{{end}}
{{end}}